body{
    background-color: rgb(248, 211, 167);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
img{
    border-radius: 50%;
    width: 150px;
    height:150px;
}
.container h1{
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 20px 40px 10px 5px rgba(34, 60, 80, 0.2);
    width: 750px;
    height: 1500px;
    
}

.container p{
    opacity: 70%;
    font-size: 30px;
}

button {
    background: rgb(199, 62, 62);
    border: none;
    height: 120px;
    border-radius: 5px;
    width: 550px;
    color: rgb(255, 255, 255);
    font-weight: 900px;
    font-size: xx-large;
    margin-left: 100px;
}
.container h2{
    font-size: 48px;

}
.members{
    display: flex;
    flex-direction: row;
    gap: 20px;
}